---
layout: layouts/page.njk
title: "ポア　インジュン -- 助教，東京科学大学"
lang: ja
description: "ポア　インジュン，現在東京科学大学にて助教をしています．研究テーマはシンボリックAIおよびニューラルネットワークの融合です．"
alternates:
  - hreflang: en
    href: "https://yinjunphua.com/"
  - hreflang: ja
    href: "https://yinjunphua.com/ja/"
permalink: "/ja/"
headingText: "ポア　インジュン"
headingSmall: "博士（情報学）"
navRightHref: "/ja/my-research.html"
navRightLabel: "私の研究"
addJaStyles: true
---
<div class="row">
  <div class="col-10">
    <p><span class="text-grey">2024年10月より，</span>東京科学大学<span class="text-grey">にて</span><strong>助教</strong><span class="text-grey">をしています．</span></p>
    <p><span class="text-grey">私の主な研究テーマは</span><strong>シンボリックAI</strong>および<strong>ニューラルネットワーク</strong>の融合です．</p>
    <p class="text-grey">博士課程では記号論理規則を出力する機械学習手法に取り組んでいました．その論理規則は入力された時系列データの遷移を説明するものであり，その論理規則を用いて観測対象の動的システムの予測や制御などが可能になります．</p>
    <p class="text-grey">現在，私はシンボリックAIとニューラルネットワークの良いところどりする手法の開発に興味があります．シンボリックAIでは，モデルが学習したものがそのまま人間にも理解が可能である．ただノイズなどに影響されやすいので実世界での応用が限られています．一方，ニューラルネットワークはノイズに対して頑健であり実世界でもさまざまな応用があります．しかし，ニューラルネットワークが学習した知識は人間には伝わりません．両手法の長所を融合し，実世界で応用が可能且つ学習したものが人間にも伝わる手法を開発しようとしています．</p>
  </div>
  <div class="col-2">
    <picture>
      <source srcset="/images/profile_2023.webp" type="image/webp">
      <source srcset="/images/profile_2023.png" type="image/png">
      <img src="/images/profile_2023.png" alt="2023年の私">
    </picture>
  </div>
</div>
<p><span class="text-grey">研究分野：</span>ディープラーニング，シンボリックルール抽出，時系列分析，説明可能なAI，ハイブリッドアプローチ，ニューラルネットワーク，ロバスト性</p>
<p class="text-grey">面白いプロジェクトまたは質問がある場合は，メールでご連絡ください．メールアドレスは<span class="text-dark">phua<span class="replace"> [at] </span>comp.isct.ac.jp</span></p>
<h3>目標</h3>
<p class="text-grey">私の研究テーマはシンボリックAIおよびニューラルネットワークを融合する技術を開発し，両手法の強みを生かしより<span class="text-dark"><strong>頑健</strong>且つ<strong>フレキシブル</strong>な知的システムを構築する</span>ことです．</p>
<h3>業績</h3>
{% for pub in publications.ja %}
<p>
  <a target="_blank" href="{{ pub.url }}">{{ pub.title }}</a>{% if pub.note %} {{ pub.note }}{% endif %}<br>
  {{ pub.authors | safe }}<br>
  <span class="text-grey">{{ pub.venue }}</span>
</p>
{% endfor %}
<h3>競争的資金・共同研究</h3>
{% for proj in projects.ja %}
<p>
  <a target="_blank" href="{{ proj.url }}">{{ proj.title }}</a><br>
  <strong>{{ proj.role }}</strong> <small class="text-grey">{{ proj.amount }}</small><br>
  {{ proj.program }}<br>
  {{ proj.sponsor }}<br>
  <span class="text-grey">{{ proj.span }}</span>
</p>
{% endfor %}
<div class="row">
  <div class="col-12">
    <h3>招待講演</h3>
    <div class="row">
      <div class="col-2">2025年8月27日</div>
      <div class="col-10"><a href="https://sig-fpai.org/past/fpai133.html" target="_blank">第133回SIG-FPAI</a> ニューロシンボリック AI における記号論理の不変性の応用 <a href="/files/toyama-250826.pdf">[スライド]</a></div>
    </div>
  </div>
  <div class="col">
    <h3>学歴</h3>
    <div class="row">
      <div class="col-5">2019年4月 - 2022年3月</div>
      <div class="col-7">
        総合研究大学院大学<br>複合科学研究科<br>情報学専攻
      </div>
    </div>
    <div class="row">
      <div class="col-5">2017年4月 - 2019年3月</div>
      <div class="col-7">
        東京工業大学<br>情報理工学院<br>情報工学コース
      </div>
    </div>
    <div class="row">
      <div class="col-5">2013年4月 - 2017年3月</div>
      <div class="col-7">
        東京工業大学<br>情報工学部<br>情報工学科
      </div>
    </div>
    <div class="row">
      <div class="col-5">2012年4月 - 2013年3月</div>
      <div class="col-7">
        東京外国語大学<br>
        留学生日本語教育センター
      </div>
    </div>
  </div>
  <div class="col">
    <h3>職歴</h3>
    <div class="row">
      <div class="col-5">2024年9月 - 現在</div>
      <div class="col-7">東京科学大学<br>情報理工学院<br><a href="http://www.net.comp.isct.ac.jp/" target="_blank">村田研究室</a><br>助教</div>
    </div>
    <div class="row">
      <div class="col-5">2022年4月 - 2024年9月</div>
      <div class="col-7">東京工業大学<br>情報理工学院<br><a href="http://www.net.c.titech.ac.jp/" target="_blank">村田研究室</a><br>助教</div>
    </div>
    <div class="row">
      <div class="col-5">2021年4月 - 2022年3月</div>
      <div class="col-7">
        独立行政法人日本学術振興会<br>特別研究員（DC2）
      </div>
    </div>
    <div class="row">
      <div class="col-5">2019年4月 - 2021年3月</div>
      <div class="col-7">
        国立情報学研究所<br><a href="http://research.nii.ac.jp/il/" target="_blank">井上研究室</a><br>特別リサーチアシスタント
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>受賞</h3>
    <div class="row">
      <div class="col-2">
        2023年
      </div>
      <div class="col-10">
        東工大教育賞　優秀賞（共同受賞）
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        2019年
      </div>
      <div class="col-10">
        最優秀学生論文賞，ILP 2019
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        2012年
      </div>
      <div class="col-10">
        大使館推薦による文部科学省国費外国人（学部留学生）
      </div>
    </div>
  </div>

  <div class="col">
    <h3>講義</h3>
    <div class="row">
      <div class="col-3">
        2025
      </div>
      <div class="col-9">
        <a target="_blank" href="https://sites.google.com/li.c.titech.ac.jp/procprog-h2025">手続き型プログラミング発展</a>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        2024
      </div>
      <div class="col-9">
        <a target="_blank" href="https://sites.google.com/li.c.titech.ac.jp/procprog-h2024">手続き型プログラミング発展</a>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        2023
      </div>
      <div class="col-9">
        <a target="_blank" href="https://sites.google.com/li.c.titech.ac.jp/procprog-h2023">手続き型プログラミング発展</a>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        2022-2024
      </div>
      <div class="col-9">
        情報理工学フォーラム
      </div>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col">
    <h3>メモ帳</h3>
    <p>研究や教育に関して思うところ。主にひとりごと。</p>
    {% set japaneseThoughts = collections.thoughts | where("data.lang", "ja") | reverse %}
    {% for post in japaneseThoughts %}
    {% set listTitle = post.data.heading or post.data.title %}
    <div class="row">
      <div class="col-2">{{ post.date | readableDateJa }}</div>
      <div class="col-10"><a href="{{ post.url }}">{{ listTitle }}</a></div>
    </div>
    {% endfor %}
  </div>
</div>
