---
layout: layouts/base.njk
title: "Yin Jun Phua -- Assistant Professor at Tokyo Tech"
lang: en
description: "Yin Jun Phua, currently an assistant professor at Tokyo Institute of Technology. Main research focus is on brdging the gap between symbolic AI and neural networks."
permalink: "/error.html"
---
<div class="container text-center">
  <h1>Under Construction 工事中</h1>
  <p>This page is either under construction, or does not exist anymore.</p>
  <p>このページはただいま作成中あるいはもうすでに存在していません．</p>
  <p><a href="/">Home</a> | <a href="/ja/">ホーム</a></p>

  <div class="mt-8 mb-4 mb-8 text-center text-light">
    &copy; Yin Jun Phua<br>
  </div>
</div>
