---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- for entry in collections.all %}
  {%- if entry.url and not entry.data.eleventyExcludeFromCollections and not entry.url.endsWith('.xml') %}
  <url>
    <loc>{{ site.url }}{{ entry.url }}</loc>
    {%- if entry.date %}
    <lastmod>{{ entry.date.toISOString().slice(0, 10) }}</lastmod>
    {%- endif %}
    {%- if entry.data.alternates %}
      {%- for alt in entry.data.alternates %}
    <xhtml:link rel="alternate" hreflang="{{ alt.hreflang }}" href="{{ alt.href }}"/>
      {%- endfor %}
    {%- endif %}
  </url>
  {%- endif %}
{%- endfor %}
  {# Static pages copied via passthrough (not part of Eleventy collections) #}
  <url>
    <loc>{{ site.url }}/papers/nri/</loc>
  </url>
</urlset>
